<div class="container text-center">
  <header class="header">
    <div class="row">
      <div class="col">
        @if (authService.currentUserSig() == null) {
          <div>
            <a mat-button routerLink="/login">Login</a>
            <a mat-button routerLink="/register">Register</a>
          </div>
        }
        @if (authService.currentUserSig()){
          <div>
            <a mat-button routerLink="/home">Documents</a>
            <button mat-button (click)="logout()">Logout</button>
          </div>
        }
      </div>
    </div>
  </header>

  <main class="content">
    <router-outlet />
  </main>
</div>
