<div>

  <form [formGroup]="form">

    <div class="row justify-content-center">
      <div class="col-4">
        <mat-form-field>
          <mat-label>Document Title</mat-label>
          <input type="email" matInput formControlName="title" placeholder="Document Title" />
        </mat-form-field>
      </div>
    </div>

    <br />
    <br />

    <div class="row justify-content-center">
      <div class="col-6">
        <mat-form-field>
          <mat-label>Document Title</mat-label>
          <textarea type="email" matInput formControlName="body" placeholder="Body..." rows="10" cols="100"></textarea>
        </mat-form-field>
      </div>
    </div>
  </form>

  @if (displaySaved) {
    <div class="saved">
      <mat-icon matListItemIcon class="icon">autorenew</mat-icon>
      Saved
    </div>
  }
</div>
